:root{
    --gray: #2a3141; 
    --yellow: #ffde50;
}

.card{
    min-width: 297px;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 15px;
    background-color: #2a3141;
    overflow: hidden;
    margin: 20px;
    z-index: 50;
    border-radius: 20px;
}

.card .background{
    width: 330px;
    height: 530px;
    position: absolute;
    opacity: .19;
    border-radius: 20px;
}

.card img:nth-child(3){
    margin-top: 15px;
    width: 60px;
    z-index: 200;
}

.card span{
    margin-top: 30px;
    margin-bottom: 10px;
}

.card span img{
    width: 120px;
    height: 120px;
    transition: 2s all;
    z-index: 200;
}

/* Each card */
.card span .bitcoin{
    animation: 4s rotating infinite;
}

.card span .coins{
    animation: 4s jumping infinite;
}

.card span .mining{
    animation: 2s mining infinite;
    margin-right: -40px;
}

.card label{
    margin: 10px 0 8px 0;
    z-index: 200;
}

/* buttons */
.card button{
    margin: 10px 0;
    padding: 12px;
    width: 270px;
    font-size: .9rem;
    font-weight: 550;
    color: var(--gray);
    background-color: #ffde50;
    border: none;
    box-shadow: none;
    border-radius: 12px;
    transition: all .8s;
    z-index: 200;
}

.card button:hover{
    transform: scale(1.05);
}

.card .try-it-btn{
    outline: 2px solid var(--yellow);
    color: var(--yellow); 
    background-color: #00000000;
}

.card label:nth-child(7){
    margin: 0;
    font-size: .8rem;
}

@keyframes rotating {
    0%{
    }
    50%{
        transform: scaleX(-1);
    }100%{
    }
       
}

@keyframes jumping {
    0%{
        transform: translateY(10px);
    }50%{
        transform: translateY(0);
    }100%{
        transform: translateY(10px);
    }
       
}

@keyframes mining {
    0%{
        transform: rotate(25deg);
    }50%{
        transform: rotate(0);
    }100%{
        transform: rotate(25deg);
    }
       
}